.pfp-wrapper {
    position: absolute;
    right: 12vh;
    top: 15px;
    transition:filter 0.2s;
}

.pfp-wrapper:hover {
    border-radius: 50%;
    filter:brightness(75%);
    transition:filter 0.2s;
}

.pfp-container {
    position: relative;
    max-width: 10px;
    max-height: 10px;
}

.pfp {
    display: block;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.pfp-change {
    position: relative;
    width: 50%;
    height: 50%;
    opacity: 0;
    cursor: pointer;
}