
.title {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: auto;
}

.title > div {
    width: auto;
    margin: 20px;
    text-align: center;
}

.buttons {
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 7px;
    margin-left: 20px;
    margin-right: 20px;
}

.buttons > div {
    display: flex;
    text-align: center;

}

.App {
    text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-btn2 {
    float: right;
}

.App-header {
    padding: 10px;
    display: flex;
    background-color: #495d86;
    min-height: 10vh;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.image {
    text-align: left;
    align-items: start;
    margin: auto;
}